@charset "utf-8";
/* CSS Document */
@media screen and (max-device-width: 400px) { .left{ float:none;} }/*自适应设置*/
* {
	padding: 0;
	margin: 0;
	font-family: 仿宋;
}/* 字体边距 */
.word{
	padding-bottom: 40px;/*上内填充*/
	padding-top: 70px;/*下内填充*/
	display: inline-block;/*块*/
	text-indent: 2em;/*首行缩进*/
	font-family:"仿宋";/*字体*/
	font-size: 25px;/*字号*/
	color: rgba(0,0,0,1.00);/*颜色*/
	line-height: 40px;/*行高*/
	letter-spacing: 5px;/*字符间距*/	
}
.background4{
	background-size: auto;/*背景图大小*/
	background-color: rgba(220,203,181,0.40);/*背景颜色*/
}
a{
			text-decoration: none;/*默认*/
			color: rgba(9,8,8,1.00);/*字体颜色*/
		}
#box {
	border:4px solid #343120;/*框*/
	margin: auto;/*外边距*/
	width: 880px;/*宽*/
}/* 整个盒子的边框*/
#box_p {
	width: 460px;/*宽*/
	position: relative;/*定位*/
	left: 50%;/*左距离*/
	margin-left: -200px; /*左外边距*/
}/* 标题边框 */
#box_p p {
	text-align: center;/*文本居中*/
	padding: 10px 0px 0px 0px;/*内填充*/
	font-size: 25px;/*字号*/
	font-weight: bold;/*字体粗细*/
	color: #DFB479;/*颜色*/
}/* 标题边框与四周的距离 */
table.mt {
	width: 840px;/*宽*/
	margin: 15px 20px 20px 20px;/*外边距*/
	border-top: 3px solid #DCE7C3;/*上线*/
	border-spacing: 0px;/*格的边框间距*/
	color:#343120;/*颜色*/
}/* 表格内容 */
table.mt thead tr td,table.mt tbody tr td {
	border-bottom: 1px solid #FFFFFF;/*设置底部边框宽度*/
	padding: 13px 40px;/*内填充*/
}/* 下滑分割线 */
table.mt thead tr td {
	font-weight: bold;/*字体粗细*/
}
table.mt tbody tr:nth-child(1) {
	background: #E9E0A3;/*背景颜色*/
}/* 底色部分 */
table.mt tbody tr:nth-child(3) {
	background: #E9E0A3;
}/* 底色部分 */
table.mt tbody tr:nth-child(5) {
	background: #E9E0A3;
}/* 底色部分 */
