@charset "utf-8";
/* CSS Document */
@media screen and (max-device-width: 400px) { .left{ float:none;} }/*自适应设置*/
*{
	margin: 0;
	padding: 0;
}
	a{
			text-decoration: none;/*默认*/
			color: rgba(9,8,8,1.00);/*字体颜色*/
		}
.word{
	display: inline-block;/*块*/
	text-indent: 2em;/*首行缩进*/
	font-family:"仿宋";/*字体*/
	font-size: 23px;/*字号*/
	color: rgba(0,0,0,1.00);/*颜色*/
	line-height: 40px;/*行高*/
	letter-spacing: 5px;/*字符间距*/	
}
.background3{
	background-image: url(../img/background6.bmp);/*背景图片*/
	background-repeat: repeat-x;
	background-attachment: fixed;/*固定图片*/
	overflow: hidden;/*避免塌陷*/
	padding-top: 170px;/*上填充*/
}
.informationTwo{
	float: left;/*右浮动*/
	padding-left: 60px;/*左填充*/
	padding-right: 70px;/*右填充*/
}
.informationFour{
	float: left;/*右浮动*/
	padding-left: 15px;/*左填充*/
	padding-right: 5px;/*右填充*/
	padding-top: 100px;
}
.informationFive{
	padding-top: 118px;/*上内填充*/
}
